.splash {
	position: relative;
	width: 100%;
	height: 100vh;
	background-color: rgb(34, 34, 71);
	color: white;
	text-transform: uppercase;

	// * {
	// 	outline: 1px solid red;
	// }	

	&__head, &__body {
		position: relative;
		width: 100%;
		
  	&--content {
			padding: 2rem;
		}
	}

	&__head {
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 60%;

		&--content {
			bottom: 0 !important;
			max-width: 80rem;
			margin: 0 auto;
			width: 100%;
		}
	}

	&__body {
		background-color: rgb(17, 22, 37);

		display: flex;
		flex-direction: column;
		justify-content: flex-top;

		height: 40%;

		.fade {
			color: rgb(17, 22, 37);
			margin: 0 auto;
			max-width: 80rem;
		}

		.fade--slogan {
			background-color: rgb(108,232, 228);
			margin: 0;
			padding: 0;
			color: inherit;
			padding-left: 1rem;

			background: rgb(108,232, 228);
			background: linear-gradient(90deg, rgb(108,232, 228) 0%, rgba(30,60,100,0) 100%);
		}

		.fade--title {
			font-weight: 400;
			font-size: 5rem;
			margin: 0;
			padding: 0;

			color: rgb(108,232, 228);
		}
	}

	&__title {
		font-size: 10rem;
		margin: 0;
		padding: 0;
		line-height: 10rem;
		font-weight: 300;

		&--bold {
			font-weight: 700;
		}

		&--sub {
			font-size: 9rem;
		}
	}
}